@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
}
header {
	box-sizing: border-box;
	min-height: 100vh;
	text-align: center;
	padding-top: 20%;
	transform-style: inherit;
	width: 100vw;
}
header::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: -1;
	transform-origin: center;
	min-height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1531592646253-54f7e70675b0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b229033b3884b76c3be9667369708f3b&auto=format&fit=crop&w=2134&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s;
	transform: translateZ(-1px) scale(2);
}
header h1 {
	margin-top: -100px;
	font-size: 42px;
}